@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar {
    scrollbar-color: auto;
    scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scrollbar::-webkit-scrollbar-track-piece {
    background-color: #f9fafb;
}

.scrollbar::-webkit-scrollbar-thumb:vertical {
    height: 20px;
    background-color: #cbd5e0;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #a0aec0;
}

.scrollbar::-webkit-scrollbar-thumb:horizontal {
    height: 20px;
    background-color: #cbd5e0;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #a0aec0;
}
